<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="allTablesList" value="TDOCENVW;TVALMTDW;TCALENT0;TCATDOC0;TCARMQA0;TCOMPTC0;TCNTNER0;TCSTADD0;TCPTCDC0;TCTNIPR0;TDOCIPR0;TDOCDMS0;TENCPRO0;TETAPRO0;TINSETA0;TINSPRO0;TINTDMS0;TNOTDMS0;TPROCES0;TPROCPT0;TRESDMSZ;TSTATDCZ;TSTPROCZ;TTYPCTN0;TTDCTCT0;TTCNTMD0;TTDCTMD0;TTDCPRO0;TTDCDMS0;TTYPMTD0;TTRAIRJ0;TTYRMQA0;TUSRDMS0;TUSRCMP0;TUSRRES0;TVALSYN0;TVLMDCT0;TVLMDDC0" />
    <add key="u_iTablesList" value="TDOCENVW;TVALMTDW;TCALENT0;TCNTNER0;TCTNIPR0;TDOCIPR0;TDOCDMS0;TENCPRO0;TETAPRO0;TINSETA0;TINSPRO0;TINTDMS0;TNOTDMS0;TPROCES0;TPROCPT0;TTYPCTN0;TTDCTCT0;TTCNTMD0;TTDCTMD0;TTDCPRO0;TTDCDMS0;TUSRDMS0;TUSRCMP0;TUSRRES0;TVLMDCT0;TVLMDDC0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>